/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans|Noto+Sans);
/* line 5, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
a img {
  border: none;
}

/* line 116, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
*, *:before, *:after {
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
  border-sizing: border-box;
}

/* line 17, ../sass/screen.scss */
body {
  font-size: 16px;
  font-family: "Noto Sans", "Open Sans", "Helvetica", "Arial", sans-serif;
  line-height: 1.2em;
  color: #404040;
  background-color: white;
  border-top: 4px solid #d12747;
}

/* line 26, ../sass/screen.scss */
h1 {
  font-size: 1.8em;
}

/* line 27, ../sass/screen.scss */
h2 {
  font-size: 1.6em;
}

/* line 28, ../sass/screen.scss */
h3 {
  font-size: 1.4em;
}

/* line 29, ../sass/screen.scss */
h4 {
  font-size: 1.2em;
}

/* line 30, ../sass/screen.scss */
h1, h2, h3, h4 {
  display: inline-block;
  line-height: 1em;
  margin-bottom: 0.6em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid #ffcdd6;
}

/* line 32, ../sass/screen.scss */
p {
  display: block;
  margin-bottom: 0.4em;
}

/* line 37, ../sass/screen.scss */
textarea {
  border: #a0a0a0 1px solid;
  width: 90%;
}

/* line 42, ../sass/screen.scss */
.wrap {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.6em;
}
/* line 12, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\susy-2.1.1\sass\susy\output\support\_clearfix.scss */
.wrap::after {
  content: " ";
  display: block;
  clear: both;
}

/* line 47, ../sass/screen.scss */
header {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  margin: 1em 0;
}

/* line 52, ../sass/screen.scss */
.util {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
}
/* line 55, ../sass/screen.scss */
.util > div {
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0.6em;
  background-color: #fdfdfd;
  border: 1px dotted #ffcdd6;
}
@media (min-width: 40em) {
  /* line 52, ../sass/screen.scss */
  .util {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
