<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/print.css" media="print">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/screen.css" media="screen,projection">
    </head>
    <body>
        <div class="wrap">
            <header>
                <h1>{{ title }}</h1>
                <p>Handy utilities that might come in handy for web developers.</p>
            </header>

            {% block body %}{% endblock body %}
        </div>
    </body>
</html>
