@import "susy";
@import "breakpoint";

$base-font: 16px;

$susy: (
    columns: 12,
    column-width: 960px / 12,
    gutters: 1/4
);

$white: white;
$black: black;
$gray: #404040;
$lightgray: #a0a0a0;
$superlightgray: #f0f0f0;
$superDuperLightGray: #fdfdfd;
$blue: blue;
$maroon: #88192e;
$maroonPurple: #d12747;
$lightPink: #ffcdd6;

$mobile-device: 40em;

